@page "/Auth"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MainService.Pages.LoginModel

<!DOCTYPE html>
<html>
    <head>
        <title>Auth</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="styles/auth.css" rel="stylesheet" />
    </head>
<!--font color #DAA513-->
    <body>
    <div class="main">
        <h2 class="center">Auth</h2>
        <div>
            <form method="post" asp-antiforgery="true">
                <label for="register-radio">Register</label>
                <input type="radio" value="register" id="register-radio" asp-for="RadioButton">
                <label for="login-radio">Login</label>
                <input type="radio" value="login" id="login-radio" asp-for="RadioButton" checked />
                <div class="line">
                    <label for="login">Login</label>
                    <input type="text" id="login" asp-for="Auth.UserLogin" class="input" />
                </div>
                <div class="line">
                    <label for="password">Password</label>
                    <input type="password" id="password" asp-for="Auth.Password" class="input" />
                </div>
                <div class="line invite">
                    <label for="invite">Invite</label>
                    <input type="text" id="invite" asp-for="Auth.Invite" class="input" />
                </div>
                <div class="line">
                    <button type="submit" class="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    </body>
</html>