@page "/addparser"
@using MainService.Models
@using MainService.Components.Base

<div>
    <div class="add-parser-layout">
        <div>
            <h2>Setting</h2>
            <Text Label="Description" OnChanged="o => ParserSettings.Description = o" />
            <Text Label="Group" OnChanged="o => ParserSettings.Group = o" />
            <Number Label="Posts count" OnChanged="o => ParserSettings.PostsCount = o" />
            <Text Label="LastLoadPostId" OnChanged="o => ParserSettings.StartFromLastLoadPost = o" />
            <Text Label="ByUpdate" OnChanged="o => ParserSettings.ByUpdate = o" />
            <Number Label="Timeout (ms)" OnChanged="o => ParserSettings.Timeout = o" />
            <Number Label="JobInterval" OnChanged="o => ParserSettings.JobInterval = o" />
            <Text Label="Tags" OnChanged="o => ParserSettings.Tags = o" />
            <Number Label="Hold (ms)" OnChanged="o => ParserSettings.Hold = o" />
            <DateTime Label="FromDate" OnChanged="o => ParserSettings.FromDate = o" />
            <DateTime Label="UntilDate" OnChanged="o => ParserSettings.UntilDate = o"/>
            <Checkbox Label="Disabled" OnChanged="o => ParserSettings.Disabled = o" />
            <Checkbox Label="Continue monitoring" OnChanged="o => ParserSettings.ContinueMonitoring = o" />
        </div>
        <div>
            <h2>Filters</h2>
            <Checkbox Label="Ignore video" OnChanged="o => ParserSettings.IgnoreVideo = o" />
            <Checkbox Label="Ignore repost" OnChanged="o => ParserSettings.IgnoreRepost = o"/>
            <Text Label="Ignore words" OnChanged="o => ParserSettings.IgnoreWords = o" />
            <Text Label="Ignore authors" OnChanged="o => ParserSettings.IgnoreAuthors = o" />
            <Text Label="Ignore titles" OnChanged="o => ParserSettings.IgnoreTitles = o" />
            <Text Label="Ignore descriptions" OnChanged="o => ParserSettings.IgnoreDescriptions = o" />
        </div>
    </div>
    <div class="center">
        <Button Action="OnSave">Save</Button>
    </div>
</div>

@code {

    private ParserModel ParserSettings { get; set; } = new ();

    public async Task OnSave()
    {
        Console.WriteLine("");
    }
    
}
