@page "/addparser"
@using MainService.Models
@using MainService.Components.Base

<div>
    <div class="add-parser-layout">
        <div>
            <h2>Setting</h2>
            <Text Label="Description"/>
            <Text Label="Group" />
            <Number Label="PostsCount" />
            <Text Label="LastLoadPostId" />
            <Text Label="StartFromLastLoadPost" />
            <Text Label="ByUpdate" />
            <Number Label="Timeout" />
            <Number Label="JobInterval" />
            <Text Label="Tags" />
            <Text Label="Hold" />
            <DateTime Label="FromDate" />
            <DateTime Label="UntilDate"/>
            <Checkbox Label="Disabled"/>
            <Checkbox Label="ContinueMonitoring"/>
        </div>
        <div>
            <h2>Filters</h2>
            <Checkbox Label="IgnoreVideo" />
            <Checkbox Label="IgnoreRepost" />
            <Text Label="IgnoreWords" />
            <Text Label="IgnoreAuthors" />
            <Text Label="IgnoreTitles" />
            <Text Label="IgnoreDescriptions" />
        </div>
    </div>
    <div class="center">
        <Button Action="OnSave">Save</Button>
    </div>
</div>

@code {

    private ParserModel ParserSettings { get; set; }


    public async Task OnSave()
    {

    }

}
