@using MainService.Models
@using Microsoft.AspNetCore.Components
@using MainService.Interfaces
@inject IAuthService _authService
<h3>Auth</h3>

<div>
    <EditForm Model="@_authModel" OnSubmit="() => HandleSubmit(_authModel)">
        <div>
            <label for="login">Login</label>
            <InputText id="login" @bind-Value="_authModel.UserLogin" />
            
        </div>
        <div>
            <label for="password">Password</label>
            <InputText id="password" @bind-Value="_authModel.Password"/>
        </div>
        <div>
            <label for="invite">Invite</label>
            <InputText id="invite" @bind-Value="_authModel.Invite"/>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </EditForm>
</div>

@code {

    private AuthModel _authModel = new();

    private async Task HandleSubmit(AuthModel model)
    {
        Console.WriteLine($"Auth form call: {model.UserLogin}");
        await _authService.Login(model.UserLogin, model.Password);
    }

}
