.button {
    display: flex;
    flex-direction: row-reverse;
    appearance: none;
    backface-visibility: hidden;
    background-color: #89cd32;
    border-radius: 2px;
    border-style: none;
    box-shadow: #89cd32 0 2px 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 10px 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    color: #333333;
}

.button:hover {
        background-color: #89cd32;
        opacity: 1;
        transform: translateY(0);
        transition-duration: .35s;
    }

.button:active {
        transform: translateY(2px);
        transition-duration: .35s;
    }

.button:hover {
        box-shadow: #89cd32 0 3px 6px;
}