@page "/"
@inherits LayoutComponentBase

<h2 class="center">Dashboard</h2>

<AuthorizeView>
    <Authorized>
        <Status />
    </Authorized>
    <NotAuthorized>
        You are not authorized  !123Asdas
    </NotAuthorized>
</AuthorizeView>