@page "/"
@inherits LayoutComponentBase
<h3>Dashboard</h3>


<AuthorizeView>
    <Authorized>
        <p role="status">Current count: @currentCount</p>
        <Button Action="IncrementCount">Click me</Button>
    </Authorized>
    <NotAuthorized>
        You are not authorized!
    </NotAuthorized>
</AuthorizeView>

@code {


    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}
