@inherits LayoutComponentBase

<h2 class="center">Dashboard</h2>

<AuthorizeView>
    <Authorized>
        <div class="layout">
            <div>
                <Menu></Menu>
            </div>
            <div>
                @Body
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        Session expired
    </NotAuthorized>
</AuthorizeView>