.layout {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.layout > div {
    display: flex;
    padding: 0 20px;
}

.left-side {
    border-right: #89cd32 1px solid;
    white-space: nowrap;
}