@page "/"

<h2 class="center">Dashboard</h2>


<AuthorizeView>
    <Authorized>
        <Status></Status>
    </Authorized>
    <NotAuthorized>
        You are not authorized!
    </NotAuthorized>
</AuthorizeView>