<div>
    <nav>
        <div class="menu-item">
            <NavLink href="" Match="NavLinkMatch.All" ActiveClass="link">
                Workers
            </NavLink>
        </div>
        <div class="menu-item">
            <NavLink href="parser" class="link">
                Parsers settings
            </NavLink>
        </div>
        <div class="menu-item">
            <NavLink href="/poster">
                Poster settings
            </NavLink>
        </div>
        <div class="menu-item">
            <NavLink href="addparser">
                Add parser setting
            </NavLink>
        </div>
        <div class="menu-item">
            <NavLink href="addposter">
                Add poster setting
            </NavLink>
        </div>
    </nav>
</div>