<div>
    <nav>
        <div class="menu-item">
            <a href="">
                Workers
            </a>
        </div>
        <div class="menu-item">
            <a href="/parsers">
                Parsers settings
            </a>
        </div>
        <div class="menu-item">
            <a href="/posters">
                Poster settings
            </a>
        </div>
        <div class="menu-item">
            <a href="/addparser">
                Add parser setting
            </a>
        </div>
        <div class="menu-item">
            <a href="/addposter">
                Add poster setting
            </a>
        </div>
    </nav>
</div>