@page "/parsers"
@using ModelsHelper.Models
@using MainService.Interfaces
@inject IParserService _parserService

@if (_parserSettings != null)
{
    <ParserTable Settings="_parserSettings" />
}
else
{
    <h5>Loading...</h5>
}


@code {
    private List<ParserSettings> _parserSettings;

    protected override async Task OnInitializedAsync()
    {
        _parserSettings = await _parserService.GetAllParserSettings();
    }
}