@using MainService.Models
@using MainService.Interfaces
@using MainService.Components.Base
@inject IWorkerService<RedditStatusModel> RedditStatus
@inherits LayoutComponentBase
@page "/"

@if (_redditModel != null && _redditModel.Works.Count > 0)
{
    <StatusTable Status="@_redditModel" OnStop="async taskId => await StopWorker(taskId)" />
}

<div>
    <Button Action="@(async () => await StopAll())">Stop all workers</Button>
    <Button Action="@(async () => await RunAll())">Run all workers</Button>
</div>


@code {
    private RedditStatusModel _redditModel;

    protected override async Task OnInitializedAsync()
    {
        _redditModel = await RedditStatus.GetStatus();
    }

    private async Task StopWorker(int taskId)
    {
        var result = await RedditStatus.StopWorker(taskId);

        if (result)
        {
            _redditModel = await RedditStatus.GetStatus();
        }
    }

    private async Task RunAll()
    {
        var redditRun = await RedditStatus.RunAll();
    }

    private async Task StopAll()
    {
        var redditStop = await RedditStatus.StopAll();
    }
}
