@using MainService.Models
@using MainService.Interfaces
@inject IWorkerService<RedditStatusModel> RedditStatus
@inherits LayoutComponentBase
@page "/"

@if (_redditModel != null)
{
    <StatusTable Status="@_redditModel" OnStop="async taskId => await RedditStatus.StopWorker(taskId)" />
}
else
{
    <h5>Loading...</h5>
}


@code {
    private RedditStatusModel _redditModel;

    protected override async Task OnInitializedAsync()
    {
        _redditModel = await RedditStatus.GetStatus();
    }
}
