.input {
    background-color: #505050;
    color: #89cd32;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    vertical-align: baseline;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: .16px;
    border-radius: 0;
    outline: 2px solid transparent;
    outline-offset: -2px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #8d8d8d;
    padding: 0 16px;
    transition: background-color 70ms cubic-bezier(.2, 0, .38, .9), outline 70ms cubic-bezier(.2, 0, .38, .9);
    border-radius: 1px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    background-color: #505050;
}

input[data-autocompleted] {
    background-color: #505050 !important;
}

input:focus {
    outline: 2px solid #89cd32;
    outline-offset: -2px;
}

.input-component {
    margin: 15px 10px;
    display: flex;
    flex-direction: column;
}

.checkbox-component {
    margin: 15px 10px;
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    outline: none;
    outline-offset: 0;
}

.checkbox-component > label {
    padding-right: 15px;
}

.checkbox-component > input {
    transform: scale(2);
    filter: hue-rotate(230deg);
}

