@using System.Diagnostics.Contracts
@using MainService.Models
<button class="@(ButtonType == ButtonType.Button ? "button" : "icon")" @onclick="Action">@ChildContent</button>

@code {

    [Parameter]
    public EventCallback Action { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public ButtonType ButtonType { get; set; } = ButtonType.Button;

}
