<button class="button" @onclick="Action">@ChildContent</button>

@code {

    [Parameter]
    public EventCallback Action { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
