<div class="input-component">
    <label for="@_id">@Label</label>
    <input @bind-value="@Value" class="input" id="@_id" type="number" step="1" />
</div>

@code {
    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public string Label { get; set; }

    private readonly string _id;

    public Number()
    {
        _id = Guid.NewGuid().ToString();
    }
}
