.select {
    background-color: #505050;
    color: #89cd32;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    vertical-align: baseline;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: .16px;
    border-radius: 0;
    outline: 2px solid transparent;
    outline-offset: -2px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #8d8d8d;
    padding: 0 16px;
    transition: background-color 70ms cubic-bezier(.2, 0, .38, .9), outline 70ms cubic-bezier(.2, 0, .38, .9);
    border-radius: 1px;
}

.select-component {
    margin: 15px 10px;
    display: flex;
    flex-direction: column;
}